@import url('https://fonts.googleapis.com/css?family=Coiny');

.addEditLineup {
  display: flex;
  justify-content: center;
  // border-radius: 25px;
  height: 6rem;
  color: white;
  // background-color: green !important;
  text-align: center;
  margin: 2%;
  font-family: 'Coiny', cursive;
}

// .lineupAddition {
//   width: 20vw;
// }