.addEditLineup {
  // padding-top: 2%,
    border: outset black;
  background-color: rgba(255, 255, 255, 0.623) !important;
  margin-top: 2%;
  h4 {
    color: rgba(4, 0, 10, 0.822);
  }
}

.newLineupForm {
  display: flex;
  flex-direction: row;
}