@import '../../../styles/_variables.scss';

body {
  background-color: $background-color !important;
  // background-image: url('./homecover.jpeg');
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  .auth {
  display: flex;
  justify-content: center;
    .welcome {
      font-size: 5vw;
      color: white;
    }
    .authentication {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      position: relative;
      text-align: center;
      padding: 2%;
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  img {
    height: 25vw;
    width: 25vw;
  }
}

