@import url('https://fonts.googleapis.com/css?family=Coiny');

.newPlayerForm {
  font-family: 'Coiny', cursive;
  color: white;
  .basicLineup {
  display: flex;
  justify-content: center;
  }
  #basicStats {
    margin: 1%;
  }
  #battingStats {
    input {
      width: 90%;
    }
  }
}