@import './_variables.scss';


Auth {
  margin: 0;
  padding: 0;
  background-color: $background-color !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
}
