@import '../../../styles/_variables.scss';

.lineups {
  // background-color:white !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Coiny', cursive;
  text-align: center;
  color: white;
}

.existingLineups {
  width: 100%;
  font-family: 'Coiny', cursive;
  padding-right: 10%;
  padding-left: 10%;
}


.lineupForm {
  display: flex;
  justify-content: center;
  border: 0.5rem outset rgb(7, 82, 7);
  background-color: green !important;
  margin: 2% 10%;
}

.playerForm {
  background-color: rgb(151, 148, 148) !important;
}

.styles_modal__gNwvD {
  max-width: 90%;
  text-align: center;
  background-image: url('../../../images/baseball1.png');
  background-repeat: no-repeat;
  background-position: center;
}

.basicLineup {
  display: flex;
  justify-content: space-evenly;
  #basicStats {
    padding: 1%;
  }
}

.battingLineup {
  display: flex;
  justify-content: space-evenly;
  #battingStats {
    padding: 1%;
  }
}
// .col {
//   background-color: green;
// }