.Lineup {
  background-color: rgb(51, 167, 51) !important;
  width: 100%;
  margin: 2%;
  opacity: 0.5;
}

.lineupForm {
  padding: 2%;
  color: white;
  background-color: rgb(7, 82, 7);
  margin: 2%;
}

.styles_modal__gNwvD {
  max-width: 90%;
}

.top-row {
  display: flex;
  justify-content: center;
  #top-row {
    padding: 1%;
  }
}

.battingStats {
  display: flex;
  #battingStats {
    padding: 1%;
  }
}
// .col {
//   background-color: green;
// }