@import '../../../styles/_variables.scss';

.lineups {
  width: 100%;
  font-family: 'Coiny', cursive;
  text-align: center;
  color: white;
}

.existingLineups {
  width: 100%;
  font-family: 'Coiny', cursive;
  color: black;
}

.toggleLineupForm {
  margin-top: 1%;
  margin-left: 8%;
  color: white;
}

.playerForm {
  background-color: white !important;
}

.styles_modal__gNwvD {
  max-width: 100%;
  text-align: center;
  background-image: url('../../../images/baseball1.png');
  background-repeat: no-repeat;
  background-position: center;
  .addPlayerBtn {
    text-align: left;
  }
}

.basicLineup {
  display: flex;
  justify-content: space-evenly;
  #basicStats {
    padding: 1%;
  }
}

.battingLineup {
  display: flex;
  justify-content: space-evenly;
  #battingStats {
    padding: 1%;
  }
}