@import '../../styles/_variables';

.lineupCards {
  margin: 1%;
  background-image: $background-card !important;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 2vw;
  font-family: 'Coiny', cursive;
  .lineupEditDelete {
    display: flex;
    justify-content: right;
  }
}